@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

@keyframes flutuar {
    0% {
        top: 0;
    } 100% {
        top: 30px;
    }
}

:root {
    --cor-principal: #000;
    --cor-secundaria: #fdb927;
    --cor-terciaria: #f2f2f2;
    --fonte-principal: "Exo 2", serif;
    --fonte-secundaria: "Varela Round", serif;

}

body {
    box-sizing: border-box;
    background: linear-gradient(120deg, var(--cor-principal) 50%, #2B2E33 50%);
}

.lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    padding-left: 1.4%;
}

.lateral__links {
    margin-bottom: 19px;
    transition: 0.2s;
}

.lateral__links:hover {
    transform: scale(1.2);
}

/* Estilização do cabeçalho e barra de navegação */

.cabecalho {
    justify-content: center;
    padding-top: 2%;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between; /* Logo à esquerda, menu à direita */
    align-items: center; /* Alinha verticalmente */
    padding: 20px 10%; /* Dá respiro no topo/lados */
    gap: 10%px; /* Espaço entre elementos */
}

.cabecalho__menu__links {
    font-family: "Varela Round", serif;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    display: block;
}


.cabecalho__menu__links:hover {
    color: var(--cor-secundaria);
    transform: scale(1.03);
}

.cabecalho__menu__links::after {
    content: "";
    position: absolute;
    bottom: -5px; /* distância da linha em relação ao texto */
    left: 0;
    width: 0;
    height: 2px;
    background: var(--cor-secundaria);
    transition: width 0.3s ease;
}

.cabecalho__menu__links:hover::after {
    width: 100%;
}

.cabecalho__menu__links.active::after {
    width: 100%;
}

.cabecalho__logo {
    max-height: 90px;
    height: auto;
}

/* Estilização do main*/

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 1% 10% 6% 10%;
    flex-wrap: wrap; /* Permite quebrar em telas menores */
}

.apresentacao__principal {
    max-width: 600px; /* Limita tamanho máximo */
    color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.destaque {
    color: var(--cor-secundaria);
}

.apresentacao__principal__titulo {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    min-height: 2.4em;
}

#nome-autor::after {
    content: "|";
    animation: piscar 0.65s infinite;
}

@keyframes piscar {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.apresentacao__principal__texto {
    font-family: "Varela Round", sans-serif;
    font-size: 1.5rem;
}

.apresentacao__foto {
    max-height: 560px;
    max-width: 100%;
    height: auto; /* Mantém proporção */
    animation: flutuar 1s ease-in-out infinite alternate;
    position: relative;
}

.apresentacao__principal__contato {
    display: block;                   /* transforma em bloco para centralizar */
    width: 120px;                     /* largura fixa */
    height: 120px;                    /* altura fixa */
    line-height: 120px;               /* centraliza o texto verticalmente */
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    text-align: center;               /* centraliza horizontalmente */
    border-radius: 50%;               /* deixa redondo */
    text-decoration: none;            /* remove sublinhado do link */
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.6rem;
    margin: 20px auto 0 auto;        /* centraliza horizontalmente */
    transition: 0.4s;
    position: relative;
}

.apresentacao__principal__contato::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: var(--cor-terciaria);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulsar 1.5s infinite;
    z-index: 0;
}

@keyframes pulsar {
  0% {
    width: 0;
    height: 0;
    opacity: 0.7;
  }
  100% {
    width: 8em;
    height: 8em;
    opacity: 0;
  }
}

.apresentacao__principal__contato:hover {
    background-color: var(--cor-terciaria);
}

/* Estilização do Rodape*/
.rodape {
    display: flex;
    padding-bottom: 1.5%;
    justify-content: center;
    /*
    background-image: linear-gradient(to bottom, #000, gray);*/
    gap: 7%;
}