@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

@keyframes flutuar {
    0% {
        top: 0;
    } 100% {
        top: 30px;
    }
}

:root {
    --cor-principal: #000;
    --cor-secundaria: #fdb927;
    --cor-terciaria: #f2f2f2;
    --fonte-principal: "Exo 2", serif;
    --fonte-secundaria: "Varela Round", serif;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
}

.lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    padding-left: 1.4%;
}

.lateral__links {
    margin-bottom: 19px;
}

.lateral__links:hover {
    transform: scale(1.2);
}

/* Estilização do cabeçalho e barra de navegação */

.cabecalho {
    justify-content: center;
}

.cabecalho__menu {
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    margin-right: 10%;
    
}

.cabecalho__menu__links {
    font-family: "Varela Round", serif;
    color: var(--cor-terciaria);
    text-decoration: none;
    margin: 3.4% 0% 0% 0%;
    font-size: 1.2rem;
}

.cabecalho__menu__links:hover {
    color: var(--cor-secundaria);
    transform: scale(1.03);
}

.cabecalho__logo {
    max-height: 90px;
    max-width: 100%;
    height: auto; /* Mantém proporção */
}

/* Estilização do main*/

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 6% 10%;
    flex-wrap: wrap; /* Permite quebrar em telas menores */
}

.apresentacao__principal {
    flex: 1; /* Faz ocupar o espaço restante */
    max-width: 600px; /* Limita tamanho máximo */
    color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.destaque {
    color: var(--cor-secundaria);
}

.apresentacao__principal__titulo {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.apresentacao__principal__texto {
    font-family: "Varela Round", sans-serif;
    font-size: 24px;
}

.apresentacao__foto {
    max-height: 560px;
    max-width: 100%;
    height: auto; /* Mantém proporção */
    animation: flutuar 1s ease-in-out infinite alternate;
    position: relative;
}